  <div class="ask-wrap">
  <h1>Stupid coaching</h1>
  <h2>Ask your coach anything...</h2>
<form action="/answer" method="get">
  <input id="type-text" type="text" name="question">
  <input id="ask-btn" type="submit" value="Ask!">
</form>
</div>
